#logo {
    width: 70px;
    height: 70px;
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

#text {
    width: 70px;
    height: 70px;
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

html {
    overflow: hidden;
}